* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
.hero {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar,
.hero-container {
    flex-grow: 1;
    max-width: 1000px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 1.5rem;
}

a:hover {
    opacity: 0.7;
}

.hero {
    background-color: #1F2937;
    padding: 2rem 0 4rem;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__right {
    min-width: 50%;
    padding: 0.5rem;
}

.hero__img-placeholder {
    min-width: 50%;
    background-color: rgb(230, 230, 230);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__button {
    background-color: #3882F6;
    color: white;
    padding: 0.5rem 2.5rem;
    border-radius: 7px;
    border: none;
    font: inherit;
    margin-top: 1rem;
}

.hero__button:hover {
    opacity: .8;
    cursor: pointer;
}

.information {
    margin: 2rem 0 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.information__box-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    max-width: 750px;
    align-self: center;
}

.information__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__box-img {
    width: 150px;
    height: 150px;
    border: solid 3px #3882F6;
    border-radius: 5%;
    margin-bottom: 1rem;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 5rem 0 5rem;
}

.quote__container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
}